@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: Overpass, sans-serif;
  line-height: 1.5;
  color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-image: linear-gradient(#ff9500, #ff5e3a);
}

header {
  text-align: left;
  padding-left: 1rem;
  margin-top: 0;
}

h2 {
  font-size: 2rem;
  margin: 1rem;
  margin-bottom: .5rem;
}

h3 {
  font-size: 1.5rem;
  margin: .5rem;
}

svg {
  fill: currentColor;
}

a {
  text-decoration: none;
  font-size: 1.125rem;
  color: #fff;
  border: solid .15rem #fff;
  padding: 1rem;
  margin: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

div {
  display: flex;
  flex-direction: column;
}

section {
  margin-bottom: .5rem;
  display: grid;
  grid-template-columns: 1fr;
}

p {
  text-align: left;
  margin: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

a:hover {
  background-color: #fff;
  color: #ff5e3a;
}

@media only screen and (min-width: 38em) {

  section {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5rem;
    padding-top: 0;
    margin: 1.7rem;
    margin-top: 0;
    justify-content: space-between;
    padding-bottom: 6vmin;
  }

  h2 {
    text-align: center;
    padding: 1rem;
  }

  h3 {
    padding-bottom: 1rem;
  }

  p {

    margin: 0;
  }

  a {
    padding: .5rem;
    margin: 1rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
  }

  .icon svg {
    width: 9rem;
  }

  .icon {
    margin-left: 1rem;
  }

}

@media only screen and (min-width: 60em) {

  body {
    margin: 1.5rem;
    padding-top: 2rem;
  }

  div {
    align-items: center;
  }

  header {
    margin-bottom: 2rem;
  }

}
