@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: Overpass, sans-serif;
  line-height: 1.5;
  color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-image: linear-gradient(#ff9500, #ff5e3a);
  display: block;
}

header {
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}

div {
  text-align: center;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

p {
  text-align: center;
  color: rgba(255, 255, 255, .7);
}

svg {
fill: #fff;
}

.btn {
  border: solid .2rem #fff;
  padding: .5rem 1rem;
}

a:hover {
  background-color: #fff;
  color: #ff5e3a;
}

@media only screen and (min-width: 38em){

  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
  }
}
